<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderMapper">
    <resultMap id="findOrderAndUserResultMap" type="Order">
        <id column="oid" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>
        <association property="user" javaType="User">
            <id column="uid" property="id"/>
            <result column="username" property="username"/>
            <result column="birthday" property="birthday"/>
            <result column="gender" property="gender"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>
    <select id="findOrderAndUser" resultMap="findOrderAndUserResultMap">
        SELECT mybatis03.user.id uid, username, birthday, gender, address,
               mybatis03.`order`.id oid, user_id, number, createtime, note
        FROM mybatis03.user INNER JOIN mybatis03.`order`
                             ON mybatis03.user.id=mybatis03.`order`.user_id
    </select>
    <resultMap id="findOrderAndOrderdetailResultMap" type="Order" extends="findOrderAndUserResultMap">
        <collection property="order_detail" ofType="OrderDetail">
            <id column="order_id" property="orderId"/>
            <id column="product_id" property="productId"/>
            <result column="product_num" property="productNum"/>
        </collection>
    </resultMap>
    <select id="findOrdersAndOrderdetail" resultMap="findOrderAndOrderdetailResultMap">
        SELECT u.id uid, username, birthday, gender, address,
               o.id oid, user_id, number, createtime, note,
               order_id,product_id,product_num
        FROM mybatis03.`order` o
                 INNER JOIN mybatis03.order_detail od ON o.id = od.order_id
                 INNER JOIN mybatis03.user u on o.user_id = u.id
    </select>
</mapper>
