<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderMapper">
    <resultMap id="findByUserIdResultMap" type="Order">
        <id column="id" property="id"/>
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createtime"/>
        <result column="note" property="note"/>
        <collection property="orderDetails" ofType="OrderDetail" column="id"
                    select="com.mybatis.mapper.OrderDetailMapper.findOrderDetailById"/>
    </resultMap>
    <select id="findByUserId" parameterType="int" resultMap="findByUserIdResultMap">
        select * FROM mybatis03.`order` where user_id=#{id}
    </select>
</mapper>
